<nav class="sticky-top border border-light" aria-label="breadcrumb" style="background:#ffffff;">
  <ol class="breadcrumb bg-transparent m-0 Jambono-Medium">
    <li class="breadcrumb-item d-flex align-items-center active">
      <a class="d-flex align-items-center" routerLink="/session-export">
        <h2 class="rounded-circle mr-1 d-flex align-items-center justify-content-center number-breadcrumb">
          <label>1</label>
        </h2>
        <h4 class="">Upload File</h4>
      </a>
    </li>
    <li class="breadcrumb-item d-flex align-items-center">
      <a class="d-flex align-items-center">
        <h2 class="rounded-circle mr-1 d-flex align-items-center justify-content-center number-breadcrumb">
          <label>2</label>
        </h2>
        <h4 class="">Processing Revervation</h4>
      </a>
    </li>
  </ol>
  <hr class="m-0" />
</nav>
<!-- <select class="border-0" name="" id="my-color-menu">
    <option>Choose a color...</option>
    <option value="red">Red</option>
    <option value="green">Green</option>
    <option value="blue">Blue</option>
</select> -->
<div class="upload-file text-center">
  <div class="wrapper-content">
    <img src="./../../../../assets/images/Tran_images/upload-clound.png" alt="images upload file clound" class="upload-file--img" onclick="submitForm()" title="Click here to upload file">
    <div class="upload-file--btn-upload">
      <form action="" id="form-upload-file" method="GET">
        <button class="btn button-upload">Choose file to upload</button>
        <input type="file" name="myfile" class="upload-file--input" />
      </form>
    </div>
    <p class="suggest">Choose an excell file to upload</p>
  </div>
</div>
