.list-session-result {
    background-color: white;

    &--action-file {
        width: 1164px;
        margin: 38px auto;
    }

    .button-action {
        padding: 5px 70px;
        border-radius: 35px;
        font-family: "Jambono";
        background-color: #ed1e24;
        color: #ffffff;

        .text {
            font-size: 26px;
        }

        .icon {
            transform: translateY((-6px));
            margin-right: 15px;
        }

        &:nth-child(1) {
            padding: 5px 40px;
        }

        &:nth-child(2) {
            padding-left: 34px;
            padding-right: 40px;
        }

        &:nth-child(3) {
            padding-left: 55px;
            padding-right: 74px;

            .icon {
                margin-right: 41px;
            }
        }
    }
    //end button session
    .table {
        thead {
            tr {
                th {
                    border: 1px solid #ecf0f6;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-weight: bold;
                    border: 1px solid #ecf0f6;
                }

                &:nth-child(even) {
                    background: #f6f6f6;
                }

                &:hover {
                    background: #ffdf00;
                }
            }
        }
    }
}
