<header class="pb-4 fixed-top">
  <div class="align-items-center d-flex flex-wrap py-2 top" >
    <a class="mr-5 hamburger-icon" routerLink="">
      <div class="hamburger hamburger--boring d-flex">
        <div class="hamburger-box">
          <div class="hamburger-inner"></div>
        </div>
      </div>
    </a>
    <a class="mr-auto" routerLink=""><img class="img-fluid" src="./../../../assets/images/logo.png" /></a>
    <div class="mr-5 pr-5 d-flex align-items-center">
      <div class="container">
        <div id="login" (click)="togglePopover()">
          <img class="img-fluid mr-2" src="./../../../assets/images/icon_user.png" />Admin
        </div>
        <div id="logout" [hidden]="showPopover" >
          <form class="form-inline rounded" role="form" >
            <a class="px-5 my-1 py-2 rounded" routerLink='/login'>Log Out</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
