<div class="content_left border-right" id="left">
  <div class="accordion" id="accordionExample">
    <div class="accordion_item">
      <div class="" id="headingOne">
        <h5 class="mb-0">
          <a class="p-3 d-flex align-items-center w-100" href="#" data-toggle="collapse" data-target="#collapseOne">
            <i class="fa fa-book fa-fw fa-1x mr-1"></i>&nbsp;
            <h6>Series Booking</h6>
            <i class="fa fa-caret-down fa-fw ml-auto"></i>
          </a>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordionExample">
        <div class="nav" id="myTab">
          <a class="m-3 d-flex align-items-center rounded w-100" routerLink='create-revervation'>
            <i class="fa fa-pencil-square-o fa-fw fa-1x mr-1"></i>&nbsp;
            <h6>Create Reservation</h6>
          </a>
          <a class="m-3 d-flex align-items-center rounded w-100" routerLink="23">
            <i class="fa fa-list-alt fa-fw fa-1x mr-1"></i>&nbsp;
            <h6>List Reservation</h6>
          </a>
          <a class="m-3 d-flex align-items-center rounded w-100" routerLink="23">
            <i class="fa fa-clipboard fa-fw fa-1x mr-1"></i>&nbsp;
            <h6>Audit Logs</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="accordion_item">
      <div class="" id="headingTwo">
        <h5 class="mb-0">
          <a class="p-3 d-flex align-items-center w-100" routerLink="#" data-toggle="collapse" data-target="#collapseTwo">
            <i class="fa fa-usd fa-fw fa-1x mr-1"></i>&nbsp;
            <h6>Fare Booking</h6>
            <i class="fa fa-caret-down fa-fw ml-auto"></i>
          </a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
        <div class="nav" id="myTab" role="tablist">
          <a class="m-3 d-flex align-items-center rounded w-100" routerLink='new-session'>
            <i class="fa fa-fw fa-1x mr-1">
              <img class="img-fluid d-inline-block" src="./../../../assets/images/menu_left_icon_6.png" />
              <img class="img-fluid d-none" src="./../../../assets/images/menu_left_icon_6_red.png" />
            </i>&nbsp;
            <h6>Create New Session</h6>
          </a>
          <a class="m-3 d-flex align-items-center rounded w-100" routerLink='list-session'>
            <i class="fa fa-fw fa-1x mr-1">
              <img class="img-fluid" src="./../../../assets/images/menu_left_icon_7.png" />
              <img class="img-fluid d-none" src="./../../../assets/images/menu_left_icon_7_red.png" />
            </i>&nbsp;
            <h6>List Session</h6>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
